# 4.6 Combining Data

### Contents
    01. Import data and libraries
    02. Combine dataframes
    03. Export combined dataframe

## 01. Import data and libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Define path to data

path = r'/Users/louise/Desktop/CF Coursework/Achievement 4 /Instacart Basket Analysis'

In [8]:
# Import orders_products_combined

df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [14]:
# Import clean products data

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [17]:
# Check outputs

df_combined.head()

,order_id,user_id,observation_status,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [18]:
df_combined.shape

(32434489, 11)

In [26]:
# Drop _merge from df_combined

df_combined = df_combined.drop(columns = ['_merge'])

In [27]:
df_combined.shape

(32434489, 10)

In [19]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [20]:
df_prods.shape

(49672, 5)

## 02. Combine dataframes

In [28]:
# Merge df_combined with df_prods

df_merged = df_combined.merge(df_prods, on = 'product_id', indicator = True)

In [29]:
# Check output

df_merged.head()

,order_id,user_id,observation_status,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [30]:
# Confirm the results of the merge

df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [32]:
df_merged.shape

(32404859, 15)

In [33]:
# Note: df_merged has fewer rows than df_combined

32434489-32404859

29630

## 03. Export merged dataframe

In [34]:
# Given the large size, exporting as pickle:

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))